body{
    background-color: blueviolet;
}

.unTexto{
    background-color: rgba(red, green, blue, alpha);
}
button{
    background-color: antiquewhite;
}
#tituloPrincipal{
    background-color: #77471a;
    width: 200px;/*ancho del elemento*/
    height: 50px;/*alto del elemento*/
    display: inline-block;
}
#botonGris{
    background-color: #ff9f43;
}

#textoUnico{
    background-image: url(./imagenes/mesa/jpg);
}
.bordeAzul{
    border: blue 2px dotted;
    
}
.texto3{
    width: 50%;
    height: 40vh;/*viewheight */
}
.paisaje{
    width: 300px;
}
